<div class="contenedor-blanco" style="min-height: 440px;">
    <div class=" contenido row p-0 m-0">
        <div class="col-md-6 mx-0 px-0">
            <div class="titulo-dark">
                As a veterinarian and lover of animals.
            </div>
            <div class="subtitulo-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum fermentum lacus non interdum.
            </div>
            <button class="button-our-service mb-3">
                Our Service
            </button>
        </div>
        <div class="col-md-6 d-flex justify-content-center p-0" style="height: auto">
            <video style="width: 100%" autoplay loop>
                <source src="../../../assets/video/video-uno.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
