<div class=" contenido row  p-0 m-0" style="min-height: 180px">
    <div class="col-md-4 card-1 ">
        <img style="width: 90px; height: 90px"  src="../../../assets/imagenes/corazon.png" class="sin-borde">
        <div class="col-12">
            <div class="text-center titulo">
                +34793
            </div>
            <div class="text-center titulo">
                Happy clients
            </div>
        </div>
    </div>
    <div class="col-md-4 card-1 ">
        <img style="width: 90px; height: 90px" src="../../../assets/imagenes/estetoscopio.png" class="sin-borde">
        <div class="col-12">
            <div class="text-center titulo">
                +45382
            </div>
            <div class="text-center titulo">
                Departament
            </div>
        </div>
    </div>
    <div class="col-md-4 card-1 ">
        <img style="width: 90px; height: 90px"  src="../../../assets/imagenes/jeringa.png" class="sin-borde">
        <div class="col-12">
            <div class="text-center titulo">
                +54762
            </div>
            <div class="text-center titulo">
                Vaccinations
            </div>
        </div>
    </div>
</div>
