<div class=" contenido row  p-0 m-0" style="min-height: 180px">
    <div class="titulo-dark text-center">
        The vetcare team
    </div>
    <div class="subtitulo-dark text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum fermentum lacus non interdum.
    </div>
    <div class="d-flex justify-content-center row ">
        <div class="col-md-4 card-1">
            <img src="../../../assets/imagenes/imagen-diez.png" class="p-0 m-0 sin-borde">
            <div class=" col-12 m-0 p-0 px-2 border ">
                <div class="text-pequeño-card-dark text-left mb-1 mt-3">
                    As a veterinarian and lover of animals
                </div>
                <div class="text-card-blue text-left">
                    February 09, 2020
                </div>
                <div class="text-extra-pequeño-card-dark text-left">
                    Lorem ipsum available, but the majo rity have suffered alteration in some words which look
                </div>
                <div class="text-card-blue-negrita text-left">
                    Read more+
                </div>
            </div>
        </div>
        <div class="col-md-4 card-1">
            <img src="../../../assets/imagenes/imagen-once.png" class="p-0 m-0 sin-borde">
            <div class="col-12 m-0 p-0 px-2 border">
                <div class="text-pequeño-card-dark text-left mb-1 mt-3">
                    As a veterinarian and lover of animals
                </div>
                <div class="text-card-blue text-left">
                    February 09, 2020
                </div>
                <div class="text-extra-pequeño-card-dark text-left">
                    Lorem ipsum available, but the majo rity have suffered alteration in some words which look
                </div>
                <div class="text-card-blue-negrita text-left">
                    Read more+
                </div>
            </div>
        </div>
        <div class="col-md-4 card-1">
            <img src="../../../assets/imagenes/imagen-doce.png" class="p-0 m-0 sin-borde">
            <div class="col-12 m-0 p-0 px-2 border">
                <div class="text-pequeño-card-dark text-left mb-1 mt-3">
                    As a veterinarian and lover of animals
                </div>
                <div class="text-card-blue text-left">
                    February 09, 2020
                </div>
                <div class="text-extra-pequeño-card-dark text-left">
                    Lorem ipsum available, but the majo rity have suffered alteration in some words which look
                </div>
                <div class="text-card-blue-negrita text-left">
                    Read more+
                </div>
            </div>
        </div>
    </div>
</div>
