<div class="contendor-amarillo">
    <div class=" contenido row  p-0 m-0">
        <div class="col-md-8 p-0 m-0">
            <div class="titulo">
                First I wanted to be a veterinarian
            </div>
            <div class="subtitulo">
                Lorem ipsum avaliable but the majarity have sufered alteration in some form, by injected humour randomised words
            </div>
            <div class="d-flex justify-content-start mb-4">
                <button class="button-contact-us">Contact Us</button>
                <button class="button-our-service">Our Services</button>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center  p-0 m-0" style="height: auto">
            <img src="../../../assets/imagen2.png">
        </div>
    </div>
</div>
