<div class=" contenido row  p-0 m-0" style="min-height: 390px">
    <div class="titulo text-center">
        Title here
    </div>
    <div class="subtitulo text-center w-100 d-flex justify-content-center">
        <div class="max-width-440">
            Lorem ipsum avaliable. but the maority have suffered alteration in some form
        </div>
    </div>
    <div class="d-flex justify-content-center row">
        <div class="col-md-4 card-1">
            <img src="../../../assets/imagenes/imagen-cuatro.png">
            <div class="col-12 m-0 p-0">
                <div class="text-center titulo-card">
                    Veterinariam
                </div>
                <div class="subtitulo-card">
                    Lorem ipsum avaliable. but the maority have suffered alteration in some
                </div>
            </div>
        </div>
        <div class="col-md-4 card-1">
            <img src="../../../assets/imagenes/imagen-cinco.png">
            <div class="col-12 m-0 p-0">
                <div class="text-center titulo-card">
                    Vaccination Care
                </div>
                <div class="subtitulo-card">
                    Lorem ipsum avaliable. but the maority have suffered alteration in some
                </div>
            </div>
        </div>
        <div class="col-md-4 card-1">
            <img src="../../../assets/imagenes/imagen-seis.png">
            <div class="col-12 m-0 p-0">
                <div class="text-center titulo-card">
                    Veterinariam
                </div>
                <div class="subtitulo-card">
                    Lorem ipsum avaliable. but the maority have suffered alteration in some
                </div>
            </div>
        </div>
    </div>
</div>
