<app-menu-full-width></app-menu-full-width>
<app-contenedor-uno></app-contenedor-uno>
<app-contenedor-dos></app-contenedor-dos>
<div class="contendor-amarillo">
    <app-contenedor-tres></app-contenedor-tres>
</div>
<div class="contenedor-blanco">
    <app-contenedor-cuatro></app-contenedor-cuatro>
</div>
<div class="contendor-amarillo">
    <app-contenedor-cinco></app-contenedor-cinco>
</div>
<div class="contenedor-blanco">
    <app-contenedor-seis></app-contenedor-seis>
</div>
<div *ngIf="true" class="contendor-amarillo fondo">
    <app-contenedor-siete></app-contenedor-siete>
</div>
<div class="contenedor-blanco">
    <app-contenedor-ocho></app-contenedor-ocho>
</div>
<div class="contenedor-footer">
    <app-footer></app-footer>
</div>
