<div class=" contenido row  p-0 m-0" style="min-height: 420px">
    <div class="titulo-dark text-center">
        The vetcare team
    </div>
    <div class="subtitulo-dark text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum fermentum lacus non interdum.
    </div>
    <div class="d-flex justify-content-center row">
        <div class="col-md-4 card-1">
            <img src="../../../assets/imagenes/imagen-siete.png">
            <div class="col-12">
                <div class="text-center titulo-card-dark">
                    Jennifer Mullen
                </div>
                <div class="text-center subtitulo-card-dark">
                    VETERINAY
                </div>
                <div class="d-flex justify-content-center">
                    <img class="logo-red-social" src="../../../assets/redes-sociales/logo-instagram.png">
                    <img class="logo-red-social" src="../../../assets/redes-sociales/logo-facebook.png">
                    <img class="logo-red-social" src="../../../assets/redes-sociales/logo-twiter.png">
                    <img class="logo-red-social" src="../../../assets/redes-sociales/logo-whatsapp.png">
                </div>
            </div>
        </div>
        <div class="col-md-4 card-1 d-flex align-items-start">
            <img src="../../../assets/imagenes/imagen-ocho.png">
            <div class="col-12 ">
                <div class="text-center titulo-card-dark">
                    Sheeren Collins
                </div>
                <div class="text-center subtitulo-card-dark">
                    ADMINISTRATION
                </div>
                <div class="d-flex justify-content-center">
                    <img class="logo-red-social" src="../../../assets/redes-sociales/logo-instagram.png">
                    <img class="logo-red-social" src="../../../assets/redes-sociales/logo-facebook.png">
                    <img class="logo-red-social" src="../../../assets/redes-sociales/logo-twiter.png">
                    <img class="logo-red-social" src="../../../assets/redes-sociales/logo-whatsapp.png">
                </div>
            </div>
        </div>
        <div class="col-md-4 card-1">
            <img src="../../../assets/imagenes/imagen-nueve.png">
            <div class="col-12">
                <div class="text-center titulo-card-dark">
                    Jennifer Mullen
                </div>
                <div class="text-center subtitulo-card-dark">
                    VETERINAY
                </div>
                <div class="d-flex justify-content-center">
                    <img class="logo-red-social" src="../../../assets/redes-sociales/logo-instagram.png">
                    <img class="logo-red-social" src="../../../assets/redes-sociales/logo-facebook.png">
                    <img class="logo-red-social" src="../../../assets/redes-sociales/logo-twiter.png">
                    <img class="logo-red-social" src="../../../assets/redes-sociales/logo-whatsapp.png">
                </div>
            </div>
        </div>
    </div>
</div>
